@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {

  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
}
} */

@layer components {

  a {
    transition: 0.3s;
    cursor: pointer;
  }

  .hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.3s;
    position: relative;
  }
  
  .hamburger_top,
  .hamburger_middle,
  .hamburger_bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 3px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger_middle {
    transform: translateY(7px);
    transition: 0.3s;
  }
  
  .hamburger_bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translatey(0);
  }
  
  .open .hamburger_top {
    transform: rotate(45deg) translateY(6px) translate(6px);
  }
  
  .open .hamburger_middle {
    opacity: 0;
    transition: 0.3s;
  }
  
  .open .hamburger_bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
  }

  @media screen and (min-width: 768px) {
    .hamburger {
      display: none;
    }
  }
    
  }
